.content {
    background-color: darkslategray;
    margin: 0 30% 0 30% ;
    height: 400px;
}

h1 {
    text-align: center;
}

.conversor {
    background-color:darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20% 20% 20%;
}

h1 ,h2 ,h3{
    color: white;
}

.select {
    width: 180px;
    margin: 10px;
}

.buscar {
    width: 180px;
    color: white;
    background-color: cadetblue
}

.respuesta {
    color: white;
}